@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?404ff8');
  src: url('../fonts/icomoon.eot?404ff8#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?404ff8') format('truetype'), url('../fonts/icomoon.woff?404ff8') format('woff'), url('../fonts/icomoon.svg?404ff8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-arrow-breadcrumbs:before {
  content: "\e900";
  color: #9791a0;
}
.icon-arrow-left:before {
  content: "\e901";
  color: #9791a0;
}
.icon-arrow-right:before {
  content: "\e902";
  color: #9791a0;
}
.icon-insta:before {
  content: "\e904";
  color: #9791a0;
}
.icon-insta-footer:before {
  content: "\e905";
  color: #fff;
}
.icon-logo:before {
  content: "\e906";
  color: #d8aeae;
}
.icon-star-dark:before {
  content: "\e909";
  color: #925757;
}
.icon-star-light:before {
  content: "\e90a";
  color: #d8aeae;
}
.icon-vk:before {
  content: "\e90b";
  color: #9791a0;
}
.icon-vk-footer:before {
  content: "\e90c";
  color: #fff;
}
