@import "vars.less";

.header {
    width: 100%;
    background: url('../img/header-back.jpg') no-repeat;
    background-size: cover;
    overflow-y: visible;

    .container {
        @media @tablet, @mobile {
            padding: 0;
        }
    }

    @media @desktop {
        height: 45rem;
    }

    @media @tablet {
        height: auto;
    }

    &__main {
        width: 100%;       
        background: url('../img/header-front.jpg') no-repeat;
        background-size: cover;
        
        position: relative;
        z-index: 20;

        @media @desktop, @mobile {
            height: 50rem;
            padding: 6.5rem 9.5rem;
        }

        @media @tablet, @mobile {
            height: auto;
            padding: 1.5rem 2.5rem;
        }
    }

    &__contact {
        display: inline-block;
        border-bottom: 1px solid #9791A0;

        @media @desktop {
            padding-bottom: 2.5rem;
        }

        @media @tablet {
            padding-bottom: 1.5rem;
        }

        @media @mobile {
            padding-bottom: 1rem;
        }
    }

    &__phone {
        display: inline-block;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        
        color: #9791A0;
        line-height: 25px;
        vertical-align: middle;
        text-decoration: none;

        @media @desktop {
            font-size: 2.4rem;
        }

        @media @tablet {
            font-size: 1.8rem;
        }

        @media @mobile {
            font-size: 2.4rem;
            margin-bottom: 1rem;
        }
    }

    &__social-link {
        display: inline-block;
        vertical-align: middle;

        @media @mobile {
            margin-bottom: 8px;
        }

        &:nth-child(2) {           
            margin-left: 27px; 
        }

        &:nth-child(3) {        
            margin-left: 19px; 
        }
    }

    &__slogan {
        display: block;
        margin-top: 16px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

        color: #B87878;

        @media @desktop {
            font-size: 3.5rem;
        }

        @media @tablet, @mobile {
            font-size: 2.5rem;
        }
    }

    &__logo {
        @media @desktop {
            width: 23rem;
            margin-top: 5rem;
        }

        @media @tablet {
            width: 12rem;
            margin-top: 2rem;
        }

         @media @mobile {
            width: 12rem;
            margin-top: 2rem;
        }
    }

    &__logo-link {

    }

    &__logo-image {
        width: 100%;
        height: auto;
    }
}

