@import "vars.less";

.products {
    @media @desktop {
        margin-top: 6rem;
    }
}

.products-home-wrap {
    display: block;

    @media @tablet, @desktop {
        margin: 0 -1.5rem 10rem;
    }

    @media @mobile {
        margin: 0 -.5rem 10rem;
    }

    &__list {
        display: block;

    }
}

.product-home {
    width: 25rem;
   
    background: #FFFFFF;
    margin: 0 1.5rem;
    float: left;

    @media @tablet, @desktop {
        margin: 0 1.5rem;
        height: 39rem;
    }

    @media @mobile {
        margin: 0 .25rem;
        height: 23rem;
    }

    &__name {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        color: #293844;

        @media @tablet, @desktop {
            font-size: 1.6rem;
        }

        @media @mobile {
            font-size: 1rem;
        }
    }

    &__price {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        color: #B87878;
        margin-top: 15px;

        @media @tablet, @desktop {
            font-size: 16px;
        }

        @media @mobile {
            font-size: 12px;
        }
    }

    &__description {
        @media @tablet, @desktop {
            padding: 1.5rem 1.5rem 2rem;
        }

        @media @mobile {
            padding: 1rem;
        }
    }

    &__btn-wrap {
        margin-top: 1rem;
        text-align: center;
    }

    &__prev-btn,
    &__next-btn {
        position: absolute;
        width: 49px;
        height: 31px;
        background: #FFFFFF;
        border: 0;
        border-radius: 20px; 
        z-index: 100;
        box-shadow: 0px 0px 10px #9791A0;
        padding: 0 .9rem;
        cursor: pointer;
        outline: none;
        background-repeat: no-repeat;
        background-position-y: 50%;

        @media @tablet, @desktop {
            top: 11.5rem;
        }

        @media @mobile {
            bottom: -5rem;
        }

        img {
            width: .8rem;
        }

        &:hover {
            box-shadow: 0px 0px 20px #9791A0;
        }

        &.slick-disabled {
            box-shadow: none;
            opacity: .8;
            cursor: auto;
        }
    }

    &__prev-btn {
        @media @tablet, @desktop {
            left: 0;       
            text-align: left;
        }

        @media @mobile {
            left: 50%;
            transform: translateX(-130%);
        }  
    }

    &__next-btn { 
        @media @tablet, @desktop {
            right: 0;        
            text-align: right;
        }  

        @media @mobile {
            right: 50%;
            transform: translateX(130%);
        }      
    }
}

.product-home-btn {
    display: inline-block;
    width: 11.8rem;
    height: 4rem;
    line-height: 4rem;
    border: 1px solid #9791A0;
    box-sizing: border-box;
    border-radius: 100px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 1.2rem;
    text-align: center;
    color: #44515C;
    text-decoration: none;
}