@import "vars.less";

.product-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    @media @desktop {
        margin-top: 3rem;
    }

    &__column-first {
        @media @desktop, @tablet {
            float: left;
        }

        @media @desktop {
            width: 48.8rem;
        }

        @media @tablet {
            width: 38rem;
            padding-top: 2rem;
        }
    }

    &__column-second {
        display: flex;
        align-items: baseline;

        @media @desktop, @tablet {
            float: left;
        }

        @media @desktop {
            width: ~"calc(100% -  48.8rem)";
            padding-left: 5rem;
        }

        @media @tablet {
            width: ~"calc(100% -  40rem)";
            padding-left: 2rem;
            padding-top: 2rem;
        }
    }
}

.product-preview {
    display: flex;
    flex-wrap: wrap;

    @media @tablet, @desktop {
        margin-bottom: 4rem;
    }

    @media @mobile {
        margin-bottom: 2rem;
    }

    &__main {
        display: flex;
        flex-wrap: wrap;

        @media @desktop {
            width: 40rem;
        }

        @media @tablet {
            width: 30rem;
        }

        @media @mobile {
            width: 100%;
            margin-top: 2rem;
        }

        img  {
            width: 100%;
            height: auto;
            align-self: flex-start;
        }
    }

    ul {
        display: flex;
        list-style-type: none;

        @media @tablet, @desktop {
            flex-wrap: wrap;
            flex-direction: column;
        }

        @media @mobile {
             flex-direction: row;
        }
    }

    li {
        width: 8rem;
        height: 8rem;
        padding-bottom: .2rem;
        padding-left: .2rem;
        box-sizing: border-box;

        @media @tablet {
            width: 6.1rem;
            height: 6.1rem;
        }

        @media @mobile {
            width: ~"calc(100% / 5)";
            height: auto;
            margin-top: .2rem;
        }

        img {
            align-self: center;
            width: 100%;
        }
    }

    
}

.product-info {
    display: block;

    h1 {
        display: block;
        width: 100%;
        color: #925757;
        font-weight: 300;

        @media @desktop, @tablet {
            font-size: 2.4rem;
        }

        @media @mobile {
            font-size: 1.8rem;
        }
    }

    h2 {
        display: block;
        width: 100%;
        font-size: 1.4rem;
        font-weight: 300;

        @media @tablet, @desktop {
            margin-top: 1.4rem;
        }

        @media @mobile {
             margin-top: .5rem;
        }
    }

    &__description {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 2rem;
    }

    &__description-left {
        @media @tablet, @desktop {
            width: 60%;
        }

        @media @mobile {
            width: 100%;
        }
    }

    &__price-wrap {
        margin-top: 2.5rem;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        border-top: .1rem solid #D8AEAE;

        @media @mobile {
            margin-bottom: 3rem;
        }
    }

    &__price { 
        font-size: 2.4rem;
        margin-top: 2.1rem;
    }

    &__btn {
        display: flex;
        margin-top: 1.4rem;
    }
}

.product-settings {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin: 2rem 0 0;

    &__column {       
        padding: 0;

        @media @desktop {
            width: ~"calc(100% / 3)";
        }
    }

    h3 {
        font-size: 1.2rem;
    }

    ul {
        display: flex;
        list-style-type: none;
        flex-wrap: wrap;
        
        @media @desktop {
            margin-top: 2.4rem;
        }

        @media @tablet {
            margin-top: 1.5rem;
        }

        @media @mobile {
            margin-top: 2rem;
        }
    }

    li {
        border: 1px solid #D8AEAE;
        box-sizing: border-box;
        border-radius: 30px;
        text-align: center;
        padding: .5rem 1.2rem;        
        color: #44515B;

        @media @desktop {
            margin-right: 2.5rem;
            margin-bottom: 1.5rem;
        }

        @media @tablet {
            margin-right: 1rem;
            margin-bottom: .5rem;
        }

        @media @mobile {
            margin-right: 2.5rem;
            margin-bottom: 2rem;
        }

        &.active {
            background: #925757;
            color: #FFFFFF;
        }
    }

    a {
        text-decoration: none;
        font-style: normal;
        font-weight: 300;
        font-size: 1.2rem;
        line-height: normal;
        text-align: center;
        color: inherit;
    }
}

.product-image-point {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    @media @mobile {
        width: 100%;
    }

    &__image-wrap {
        width: 3.6rem;
        height: 3.6rem;
        margin-right: 2rem;

        img {
            width: 100%;
            height: auto;
        }
    }

    p {
        width: ~"calc(100% - 5.6rem)";
        font-size: 1.2rem;
        line-height: 1.9rem;
    }

    strong {
        font-weight: bold;
        color: #B87878;
    }
}

.product-review-top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;

    @media @tablet, @desktop {
        width: 40%;
        text-align: right;
    }

    @media @mobile {
        width: 100%;
        margin-top: 2rem;
    }

    &__link {
        font-size: 1.2rem;
        line-height: 2.2rem;
        text-decoration-line: underline;
    }

    ul {
        list-style-type: none;
        margin-top: 1.4rem;
    }

    li {
        display: inline-block;

        i {
            font-size: 1.9rem;
        }
    }
}

.product-info-text {
    @media @mobile {
        margin-top: 2rem;
    }

    h3 {
        font-weight: bold;
        font-size: 1.2rem;
        line-height: 1.9rem;
    }

    p,
    ul {
        font-size: 1.2rem;
        line-height: 1.9rem;
        margin-bottom: 1rem;
    }

    ul {
        list-style-type: none;
    }

    li {
        display: block;
        padding-left: 1rem;
        position: relative;

        &::before {
            position: absolute;
            left: 0;
            content: "-";
        }
    }
}

.review {
    margin-bottom: 10rem;

    @media @tablet {
           margin-bottom: 4rem; 
    }
}

.review-form {
    display: flex;
    flex-wrap: wrap;

    @media @tablet, @desktop {
        margin: 0 -5rem;
    }

    @media @mobile {
        padding: 0 1.5rem;
    }

    &__column {
        @media @tablet, @desktop {
            width: 50%;
            padding: 0 5rem;            
        }

        @media @mobile {
            width: 100%;
        }
    }

    &__stars-label {
        display: inline-block;
        font-size: 1.6rem;
        padding: 1.6rem 2rem;
    }

    &__stars {
        float: right;
        padding: 1.6rem 0;

        ul {
            list-style-type: none;
        }

        li {
            display: inline-block;

            i {
                font-size: 1.9rem;
            }
        }
    }

    &__row {
        display: block;
        width: 100%;
    }

    input,
    textarea {
        width: 100%;
        padding: 1.6rem 2rem;
        font-size: 1.6rem;
        background: transparent;
        border: none;
        border-bottom: 1px solid #9791A0;
        outline: none;    
        box-sizing: border-box; 

        &::placeholder {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 300;
            font-size: 1.6rem;
        }  
    }

    input {
        margin-top: 2rem;
    }

    textarea {
        height: 100%;

        @media @mobile {
             height: 15rem;
        }
    }

    &__btn-wrap {
        text-align: right;
        padding: 2.4rem 7rem 0;

        @media @mobile {
            padding-right: 0;
        }
    }
}

.user-review {
    margin-bottom: 6rem; 

    &__wrap {
        display: flex;
        flex-wrap: wrap;

        @media @tablet, @desktop {
            height: 20rem;    
            margin: 0 -2.5rem;
        }

        @media @mobile {
            margin: 0;
        }
    }

    &__item {        
        margin: 0 1.24rem;
        background: #fff;
        padding: 2rem;
        position: relative;

        @media @tablet, @desktop {
            width: ~"calc(100% / 3 - 2.5rem)";
        }

        @media @mobile {
            width: 100%;
            margin: 1rem 0;
        }
    }

    &__row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;

        .product-review-top__stars {
            margin-top: 0;
        }
    }

    &__text {
        margin-top: 3rem;
    }

    &__date {
        position: absolute;
        bottom: 1.8rem;
        right: 2rem;
        text-align: right;
    }

    &__more {
        text-align: center;
        padding-top: 2.5rem;
    }

    &__more-link {
        text-decoration: underline;
    }

    &__stars {
        ul {
            list-style-type: none;
        }

        li {
            display: inline-block;

            i {
                font-size: 1.9rem;
            }
        }
    }
}